/* These two element styles set the "body" height to 100vh, and footer at the bottom */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  color: rgba(0, 0, 0, 0.75);
}

.brand-logo {
  left: 1.2%;
}

#info {
  padding: 2rem 0 2rem 0;
  margin: 2rem 0 2rem 0;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./books-min.jpg");
  background-size: cover;
}

.book {
  padding: 1rem;
  position: relative;
}

.book-buttons {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.flex {
  display: flex;
  justify-content: left;
  align-items: center;
}

.margin {
  margin: 1rem;
}

.padding {
  padding: 1rem;
}

.page-footer {
  padding: 0;
}

.footer-copyright > .container > a {
  font-size: 1.25rem;
  transition: 0.3s;
}

.footer-copyright > .container > a:hover {
  transform: scale(1.3);
}